/* Fonts */

@font-face {
    font-family: 'Lato-Black';
    src: url('assets/fonts/Lato-Black.ttf');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('assets/fonts/Lato-Bold.ttf');
}
@font-face {
    font-family: 'Lato-Light';
    src: url('assets/fonts/Lato-Light.ttf');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('assets/fonts/Lato-Regular.ttf');
}


/* Main */
* {
    margin: 0;
    padding: 0;
}
body {
    width: 1020px;
    margin: 0 auto;
    font-family: 'Lato-Light', sans-serif;
    font-size: 10px;
}

/* Wrapper */

.wrapper {
    width: 940px;
    height: 100%;
    margin: 0 auto;
}

/* Portfolio */

.portfolio {
    height: 864px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    color: #767e9e;
}
h1.portfolio-head {
    padding-top: 68px;
    text-transform: capitalize;
    font-family: 'Lato-Black', sans-serif;
    font-size: 3em;
    line-height: 0.6em;
    letter-spacing: 0.2px;
    color: #666d89;
}
p.portfolio-text {
    padding-top: 28px;
    font-size: 1.8em;
    line-height: 1.7em;
    word-spacing: -1.2px;
}
.portfolio-tags {
    margin-top: 15px;
}
.tag {
    padding: 3px 7px;
    margin-right: 8px;
    border: 1px solid #666d89;
    border-radius: 5px;
    font-size: 1.2em;
    text-transform: capitalize;
}
.tag:hover{
    cursor: pointer;
    color: #ffffff;
    border-color: #ffffff;   
}
.active-tag {
    color: #ffffff;
    border-color: #ffffff;
}
.portfolio-content {
    margin-top: 22px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    overflow: hidden;
}
.portfolio-item {
    height: 186px;
    width: 220px;
    margin-bottom: 20px;
}
.ship {
    background-image: url('assets/portfolio-img/1.png');
    background-position: 50% 20%;
}
.flying {
    background-image: url('assets/portfolio-img/2.png');
    background-position: 55% 50%;
}
.village {
    background-image: url('assets/portfolio-img/3.png');
    background-position: 30% 0%;
}
.robot {
    background-image: url('assets/portfolio-img/4.png');
    background-position: 50% 0%;
}
.rabbits {
    background-image: url('assets/portfolio-img/5.png');
    background-position: 50% 20%;
}
.sdk {
    background-image: url('assets/portfolio-img/6.png');
    background-position: 45% 50%;
}
.art {
    background-image: url('assets/portfolio-img/7.png');
    background-position: 20% 20%;
}
.hens {
    background-image: url('assets/portfolio-img/8.png');
    background-position: 40% 33%;
}
.green-monster {
    background-image: url('assets/portfolio-img/9.png');
    background-position: 50% 50%;
}
.cassette {
    background-image: url('assets/portfolio-img/10.png');
    background-position: 55% 24%;
}
.monster {
    background-image: url('assets/portfolio-img/11.png');
    background-position: 73% 78%;
}
.radio {
    background-image: url('assets/portfolio-img/12.png');
    background-position: 50% 25%;
}