/* Fonts */
@font-face {
    font-family: 'Lato-Black';
    src: url('assets/fonts/Lato-Black.ttf');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('assets/fonts/Lato-Bold.ttf');
}
@font-face {
    font-family: 'Lato-Light';
    src: url('assets/fonts/Lato-Light.ttf');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('assets/fonts/Lato-Regular.ttf');
}

/* Main */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    padding-top: 95px;
    width: 1020px;
    margin: 0 auto;
    font-family: 'Lato-Light', sans-serif;
    font-size: 10px;
}

/* Wrapper */

.wrapper {
    width: 940px;
    height: 100%;
    margin: 0 auto;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 1020px;
    height: 89px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    text-transform: uppercase;
}
.header-inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
}
h1.logo {
    display: flex;
    align-self: center;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: -0.25px;
}
.header-inner a {
    color: #ffffff;
    text-decoration: none;
}
.navigation {
    margin-top: 42px;
    font-size: 1.2em;
    font-weight: 700;
}
.navigation-list {
    width: 370px;
    display: flex;
    justify-content: space-between;
}
.navigation-item {
    cursor: pointer;
    color: #ffffff;
    display: inline;
}
.navigation-item:hover,
.active, 
.colored  {
    color: #f06c64;
}
.point {
    display: inline;
    color: #494e62;
}

/* Slider */

.slider__wrapper {
    position: relative;
}
.slider-button {
    position: absolute;
    top: 283px;
    border: unset;
    background: inherit;
    cursor: pointer;
    outline: unset;
    z-index: 2;
}
.slider-button:active {
    transform: scale(0.8);
}
.next {
    right: 0;
}
.slider__content {
    width: 1020px;
    height: 600px;
    position: relative;
    top: 0;
    left: -40px;
    overflow: hidden;
}
.slider__item {
    width: inherit;
    height: 594px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.6s;
}
.slider-first {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b|
}
.slider-second {
    background-color: #648fb0;
    border-bottom: 6px solid #2F80ED;
}
.x-screen {
    position: absolute;
    top: 115px;
    left: 568px;
    transform: rotateZ(0.25turn);
    cursor: pointer;
}
.y-screen {
    position: absolute;
    top: 115px;
    left: 110px;
    cursor: pointer                                                                                                         ;
}


/* Services section */

.services {
    height: 494px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    color: #666d89;
}
h1.services-title {
    text-transform: capitalize;
    font-family: 'Lato-Black', sans-serif;
    padding-top: 70px;
    font-size: 3em;
    line-height: 0.6em;
}
.services-title + p {
    padding-top: 25px;
    font-family: 'Lato-Light', sans-serif;
    font-size: 1.8em;
    line-height: 1.7em;
    word-spacing: -0.5px;
}
.services-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 16px;
}
.services-item {
    width: 300px;
    display: flex;
    margin-top: 27px;
}
.icon {
    height: 56px;
    width: 56px;
    border-radius: 100%;
    border: 2px solid #666d89;
}
.icon img {
    padding: 8px;
}
.services-item_title {
    text-transform: capitalize;
    font-family: 'Lato-Black', sans-serif;
    font-size: 1.8em;
    letter-spacing: 0.25px;
}
.services-item_title + p {
    padding-top: 10px;
    font-size: 1.2em;
    line-height: 1.85em;
}
.services-definition {
    margin-left: 20px;
}


/* Portfolio */

.portfolio {
    height: 864px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    color: #767e9e;
}
h1.portfolio-head {
    padding-top: 68px;
    text-transform: capitalize;
    font-family: 'Lato-Black', sans-serif;
    font-size: 3em;
    line-height: 0.6em;
    letter-spacing: 0.2px;
    color: #666d89;
}
p.portfolio-text {
    padding-top: 28px;
    font-size: 1.8em;
    line-height: 1.7em;
    word-spacing: -1.2px;
}
.portfolio-tags {
    margin-top: 15px;
}
.tag {
    padding: 3px 7px;
    margin-right: 8px;
    border: 1px solid #666d89;
    border-radius: 5px;
    font-size: 1.2em;
    text-transform: capitalize;
}
.tag:hover{
    cursor: pointer;
    color: #ffffff;
    border-color: #ffffff;   
}
.active-tag {
    color: #ffffff;
    border-color: #ffffff;
}
.portfolio-content {
    margin-top: 22px;
    /* height: 600px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    overflow: hidden;
}
.portfolio-item {
    height: 186px;
    width: 220px;
    margin-bottom: 20px;
    cursor: pointer;
}
.ship {
    background-image: url('assets/portfolio-img/1.png');
    background-position: 50% 20%;
}
.flying {
    background-image: url('assets/portfolio-img/2.png');
    background-position: 55% 50%;
}
.village {
    background-image: url('assets/portfolio-img/3.png');
    background-position: 30% 0%;
}
.robot {
    background-image: url('assets/portfolio-img/4.png');
    background-position: 50% 0%;
}
.rabbits {
    background-image: url('assets/portfolio-img/5.png');
    background-position: 50% 20%;
}
.sdk {
    background-image: url('assets/portfolio-img/6.png');
    background-position: 45% 50%;
}
.art {
    background-image: url('assets/portfolio-img/7.png');
    background-position: 20% 20%;
}
.hens {
    background-image: url('assets/portfolio-img/8.png');
    background-position: 40% 33%;
}
.green-monster {
    background-image: url('assets/portfolio-img/9.png');
    background-position: 50% 50%;
}
.cassette {
    background-image: url('assets/portfolio-img/10.png');
    background-position: 55% 24%;
}
.monster {
    background-image: url('assets/portfolio-img/11.png');
    background-position: 73% 78%;
}
.radio {
    background-image: url('assets/portfolio-img/12.png');
    background-position: 50% 25%;
}

/* About us */

.about-us {
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    color: #767e9e;
}
.about-us_head {
    padding-top: 66px;
    text-transform: capitalize;
    font-size: 3em;
    line-height: 0.6em;
    font-family: 'Lato-Black', sans-serif;
    color: #666d89;
}
.about-us_text {
    margin-top: 33px;
    font-size: 1.8em;
    line-height: 1.5em;
    word-spacing: -0.35px;
}
.about-us_content {
    width: inherit;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}
.about-us_item {
    width: 300px;
}
.about-us_item h3 {
    padding-top: 15px;
    text-transform: capitalize;
    font-size: 1.8em;
    line-height: 1em;
    font-family: 'Lato-Black', sans-serif;
}
.about-us_item p {
    padding-top: 11px;
    font-size: 1.2em;
    line-height: 1.8em;
    font-family: 'Lato-Regular', sans-serif;
}
.social-media {
    width: 152px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.social-media_icon {
    height: 30px;
    width: 30px;
    border: 1px solid #666d89;
    border-radius: 100%;
}
.social-media_icon img {
    padding: 8px;
}


/* Get a Quote */

.get-quote {
    height: 648px;
    color: #f0d8d9;
    border-bottom: 6px solid #ea676b;
    background-color: #f06c64;
}
.get-quote_head {
    padding-top: 67px;
    font-family: 'Lato-Black', sans-serif;
    font-size: 3em;
    line-height: 0.6em;
}
.get-quote_text {
    padding-top: 28px;
    font-size: 1.8em;
    line-height: 1.7em;
    word-spacing: -0.4px;
}
.get-quote_content {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}
.get-quote_form {
    width: 620px;
}
.get-quote_item {
    height: 38px;
    width: 620px;
    margin-bottom: 16px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
}
.get-quote_item::placeholder {
    padding-left: 15px;
    padding-top: 7px;
    color: #f48c8f;
    font-size: 12px;
    line-height: 1.8em;
    letter-spacing: 0.25px;
    font-family: 'Lato-Regular', sans-serif;
}
textarea.get-quote_item {
    resize: none;
    height: 202px;
}
.send {
    width: 15%;
    float: right;
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background-color: #e14139;
    color: #f48c8f;
    font-family: 'Lato-Bold', sans-serif;
}
.contact-information {
    width: 300px;
}
.contact-information_head {
    font-family: 'Lato-Black', sans-serif;
    font-size: 1.8em;
    line-height: 1em;
}
.contact-information_text {
    padding-top: 10px;
    text-align: justify;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 1.2em;
    line-height: 1.8em;
    letter-spacing: -0.2px;
}
.contact-information_item {
    display: block;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 1.2em;
    line-height: 1.8em;
    color: inherit;
}
.contact-information_icons {
    margin-top: 24px;
}
.contact-information_item img {
    margin-right: 12px; 
}
.contact-information_item:link {
    text-decoration: none;
}

a.contact-information_item:hover {
    text-decoration: none;
    color: #ef838c;
}
.contact-information_item:visited {
    text-decoration: none;
    color: inherit;
}


.message-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #0008;
    z-index: 3;
}

.message {
    position: absolute;
    padding: 10px;
    color: #626984;
    font-size: 1.6em;
    text-align: center;
    border: 2px solid #666d89;
    border-radius: 5px;
    background-color: #f2f2f2;
}
.hidden {
    display: none;
}

/* Footer */

.footer {
    width: 100%;
    height: 76px;
    background-color: #2d303a;
}
.footer-inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright {
    color: #626984;
    font-family: sans-serif;
    font-size: 1.2em;
}
.footer_social-media {
    width: 152px;
    display: flex;
    justify-content: space-between;
}
.social-media_icon {
    height: 30px;
    width: 30px;
    border: 1px solid #666d89;
    border-radius: 100%;
}
.social-media_icon img {
    padding: 8px;
}